# R related files
.Rhistory
.RData
.Rproj.user/
.Ruserdata
.Renviron

# Package build files
*.tar.gz
*.Rcheck/

# Generated documentation files
vignettes/*.html
vignettes/*.pdf
*_cache/
/cache/
*.utf8.md
*.knit.md

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
